<h2>
  SUBJECTS
</h2>

<h3>
  path: 'GET api/subjects';
  headers: {
              'Content-type' => 'application/json',
              'Accept' => 'application/json'
          };
</h3>

<h2>
  PROFILE
</h2>

<h3>
  path: 'POST api/profile';
  headers: {
              'Content-type' => 'application/json',
              'Accept' => 'application/json'
           };
  params: {
            user: { :email, :password, :password_confirmation }
          }
</h3>

<h2>
  SESSION
</h2>

<h3>
  path: 'POST api/session';
  headers: {
              'Content-type' => 'application/json',
              'Accept' => 'application/json'
           };
  params: {
            session: { :email, :password }
          }
</h3>

<h2>
  TEST
</h2>

<h3>
  path: 'POST api/test';
  headers: {
              'Content-type' => 'application/json',
              'Accept' => 'application/json'
           };
  params: {
            test: { :subject_ids, :question_count }
          }
</h3>

<h2>
  ANSWER
</h2>

<h3>
  path: 'POST api/answer';
  headers: {
              'Content-type' => 'application/json',
              'Accept' => 'application/json'
           };
  params: {
            answer: { result: [{ :id, :answer_id }] }
          }
</h3>
